.best {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  border-radius: 50px;
  background-color: $white-normal;

  @include responsive(s) {
    flex-direction: column;
  }

  &::after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0);
    width: 124px;
    height: 32px;
    background: url('../svg/entail.svg');
    background-repeat: no-repeat;
  }

  .best-item {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 16px;
    margin: 8px 0px;

    @include responsive(s) {
      justify-content: center;
      align-items: center;
    }
  }
}