header {
  width: 100%;
  height: 72px;
  background-color: transparent;
  box-shadow: none;
  position: fixed;
  z-index: 800;
  transition: .5s ease;

  //MOBILE
  .navbar-mobile {
    display: none;
    max-width: $container-xl;
    margin: 0 auto;
    padding: 10px 24px;
  
    @include responsive(s) {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    .bx {
      width: 36px;
      height: 36px;
      cursor: pointer;
      position: relative;
      z-index: 800;
      transition: .7s ease;

      &::after {
        content: '';
        position: absolute;
        top: 40%;
        left: 15%;
        width: 70%;
        height: 2px;
        background-color: $primary-normal;
        transition: .7s ease;
      }

      &::before {
        content: '';
        position: absolute;
        top: 60%;
        left: 15%;
        width: 70%;
        height: 2px;
        background-color: $primary-normal;
        transition: .7s ease;
      }
    }

    .active-bx {
      width: 36px;
      height: 36px;
      cursor: pointer;
      position: relative;
      z-index: 800;

      &::after {
        content: '';
        position: absolute;
        top: 50%;
        left: 15%;
        width: 70%;
        height: 2px;
        background-color: $primary-normal;
        transform: rotate(-135deg);
      }

      &::before {
        content: '';
        position: absolute;
        top: 50%;
        left: 15%;
        width: 70%;
        height: 2px;
        background-color: $primary-normal;
        transform: rotate(315deg);
      }
    }

    .logo {
      width: 48px;
      height: 48px;
      display: flex;
      align-items: center;
      justify-content: center;
      z-index: 800;
    }
  }
  
  .menu-mobile {
    width: 100vw;
    height: 100vh;
    background-color: $white-normal;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    pointer-events: none;
    transform: translate3d(0, -100px, 0);
    transition: 1s ease;

    .nav-list-mobile {
      max-width: $container-xl;
      list-style: none;
      display: flex;
      flex-direction: column;

      .nav-link-mobile {
        display: inline-block;
        @include typeface-1(h3, desktop);
        color: $gray-2;
        padding: 16px 24px;
        position: relative;

        &::after {
          content: '';
          position: absolute;
          top: 90%;
          left: 16px;
          width: 0%;
          height: 2px;
          transition: 1s ease;
          background-color: $secondary-normal;
        }

        &:hover {
          color: $primary-normal;

          &::after {
            width: 100%;
          }
        }
      }

      .socialIcons {
        display: block;
        width: 36px;
        height:36px;

        path {
          stroke: $gray-5;
          transition: .7s ease;

          &:hover {
            stroke: $primary-normal;
          }
        }
      }
    }
  }

  .active-menu-mobile {
    opacity: 1;
    pointer-events: all;
  }
  
  //DESKTOP
  .navbar-desktop {
    max-width: $container-xl;
    margin: 0 auto;
    padding: 10px 24px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  
    @include responsive(s) {
      display: none;
    }

    .navbar-desktop-item-1 {
      flex: 1 1 auto;
      display: flex;
      justify-content: flex-start;
      align-items: center;

      .logo {
        width: 48px;
        height: 48px;
        display: flex;
        align-items: center;
        justify-content: center;
      }

      .menu-desktop {
        list-style: none;
        display: flex;
        align-items: center;
        justify-content: flex-start;

        .menu-item {
          margin-left: 16px;
          position: relative;

          .nav-link-desktop {
            display: inline-block;
            padding: 12px 16px;
            position: relative;

            &::after {
              content: '';
              position: absolute;
              top: 42%;
              right: -3px;
              width: 7px;
              height: 7px;
              transition: .2s linear;
              transform: rotate(45deg);
              border-radius: 1px;
              border-bottom: 2px solid $primary-normal;
              border-right: 2px solid $primary-normal;
            }

            &:hover {
              &::after {
                top: 45%;
              }
            }
          }

          .dropdown-menu {
            background-color: $white-light;
            border-radius: 16px;
            padding: 16px 24px;
            box-shadow: 0px 51px 80px rgba(169, 80, 196, 0.08), 
            0px 15.375px 24.1177px rgba(169, 80, 196, 0.0521271), 
            0px 6.38599px 10.0172px rgba(169, 80, 196, 0.04), 
            0px 2.30969px 3.62304px rgba(169, 80, 196, 0.0278729);
            list-style: none;
            position: absolute;
            top: 48px;
            left: 24px;
            display: flex;
            align-items: center;
            justify-content: flex-start;
            flex-direction: column;
            opacity: 0;
            pointer-events: none;
            transition: .7s ease;

            .dropdown-item {
              width: 100%;
            }

            .nav-link-dropdown {
              display: inline-block;
              width: 100%;
              padding: 8px 16px;
              position: relative;

              &::after {
                content: '';
                position: absolute;
                top: 90%;
                left: 0;
                width: 0%;
                height: 2px;
                background-color: $secondary-normal;
                transition: .5s ease;
              }

              &:hover {
                &::after {
                  width: 100%;
                }
              }
            }
          }

          .active {
            pointer-events: all;
            opacity: 1;
          }
        }
      }
    }

    .navbar-desktop-item-2 {
      flex: 1 1 auto;
      display: flex;
      justify-content: flex-end;
      align-items: center;
    }
  }
}

.active-header {
  background-color: $white-normal;
  box-shadow: 0px 51px 80px rgba(169, 80, 196, 0.08), 
  0px 15.375px 24.1177px rgba(169, 80, 196, 0.0521271), 
  0px 6.38599px 10.0172px rgba(169, 80, 196, 0.04), 
  0px 2.30969px 3.62304px rgba(169, 80, 196, 0.0278729);
}